affine==2.4.0
cdsapi
#DSSATTools
rosetta-soil==0.1.1
fortranformat==1.2.2
geopandas==1.0.1
matplotlib==3.9.2
numpy==2.0.2
omegaconf
pandas==2.2.3
python_dateutil
PyYAML
plotly
rasterio==1.4.1
Requests
rioxarray
scipy==1.13.1
Shapely
soilgrids==0.1.4
unidecode
tqdm
widgetsnbextension
xarray==2024.7.0
numba==0.60.0
bayesian-optimization==2.0.3
